<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Anagram Checker</title>
</head>
<body>
    <h1>Anagram checker</h1>
        
    <p>Welcome to the World Of ANAGRAM!! Type two words and let's check them... </p>
        
    <form action="CheckAnagram" method="post">
        ... your first word: <input type="text" name="firstWord" value="" />
        ... second word: <input type="text" name="secondWord" value="" />
        <input type="submit" value="Confirm" />
    </form>
        
</body>
</html>