
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Checked Anagram!</title>
    <style>
        p {
            font-size: 150px;
            color: Red;
        }
    </style>
</head>
<body>
    <p>@Model</p>
</body>
</html>