<!DOCTYPE html>

<html>  
<head>
     <title>Login</title>
        
</head>
    <body>
        <h1>Welcome to Bones Club</h1>
        <p>Please give a name to your Skeleton</p>
        
        <form action="login" method="post">
           <input type="text" name="givenName" />
           <input type="submit" value="ReBirth!"/> 
        </form>
    </body>
</html>