<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<h1>Hello, what is your name?</h1>
    <form action="Greet" method="post">
        <input type="text" name="Name" value="" />
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>