
@model string
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        h1 {
            font-size: 80px;
            color: teal;
        }
    </style>
</head>
<body>
    <h1>@Model!</h1>
</body>
</html>