html {
    background-image: url("topography.png");
    background-repeat: round;
    
}
body {
    
  font-family: consolas, courier;  
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  
}
h1{
    font-size: 50px;
    font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
}
h2{
    font-size: 30px;
    font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
}
h3{
    color: #ff0099;
    font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
}
nav{
    background-color: #333333;
    color: #ff0099;
    padding: 40px 0 20px 80%;    
    display: inline; 
   
}